/*Teeni weeni scrweens, aww so cute*/

@media only screen and (max-width: 1500px) {

  a.navbar-brand {
    width: auto;
    position: relative;
  }

}
@media only screen and (max-width: 780px) {
  body{
  padding-top: 0px;}
  /*Phagocyte*/
  .container,footer {
    margin: auto auto;
    width: 90%;
  }

  /*Did someone say navigation?*/
    body > nav > div > div.navbar-header > button {
      border-color: #FFF !important;
    }
    body > nav > div > div.navbar-header > button > span {
      background-color: #FFF;
    }
  .navbar {
    position: relative;
    width: 100%;
    margin-top: 0px;
    z-index: 1000;
  }
  a {
    font-size: 9px;
  }
  a.navbar-brand {
    display: block;
      width: auto;
      position: relative;
  }
  #myTabs > li > a,#myNavbar > ul.nav.navbar-nav.navbar-right > li > a  {
    text-align: center;
    font-size: 20px;
  }

  /*Pretty translucent blue boxes --> Nvm! They ain't blue no more, but I'm not changing the name xD*/
  .blueBox {
    padding: 20px;
    margin: 0px;
  }
  .blueBox > h3 > img {
    width: 20px;
    margin-top: -10px;
  }

  .bluebox_rotatedtext{
    display: none;
  }

  /* Head(er), shoulder, knees and toes, knees and tooooes.*/

  #logo {
    font-weight: bold;
    font-size: 35px;
    padding-top: 90px;
    position: relative;
  }
  #logo > img {
  }
  .slogan {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  /*Upcoming Events*/


  /*Where are we?*/

  #map {
    width: 70%;
    height: 400px;
    border-radius: 15px;
    margin: auto auto;
  }
  #whereAreWe{
    display: none;
  }

}
