/*CSS by ShiboTheCoder*/
/*Le Font*/

@font-face {
  font-family: 'Bariol_Regular';
  src: url(./Bariol_Regular.otf);
}

@font-face {
    font-family: 'MarkoOne-Regular';
    src:url(./MarkoOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family:  'PT-Sans-Italic';
    src:url(./PT-Sans-Italic.ttf) format('truetype');
}

/*Le body and le html*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: Bariol_Regular, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  cursor: default;
}

/*Le Homescreen -> Logo and gallery*/
#homescreen{
  width: 70%;
  min-width: 800px;
  float: left;
}
#homescreen >header > h1> img {
  display: block;
  margin: auto;
  z-index: 100;
}
#homescreen >header {
  text-align: center;
  padding: 20px;
  color: #222;
}
#homescreen > header > h1 {
    font-weight: bold;
    font-size: 65px;
  	font-family: 'MarkoOne-Regular';
}
#gallery {
  margin: auto;
  width: auto;
    width: 300px;
      height: 300px;
      text-align: center;
}
#gallery_album_nav_btn{
  margin-top: 1px;
}
#gallery_album_nav{
  cursor: pointer;
}
.carousel-inner>.item>img {
border-radius: 50px;
  width: 300px;
    height: 300px;
}
.carousel-control.right{
  background: none !important;
}

.carousel-control.left{
  background: none !important;
}

/*Le aside -> userbox, signup form, etc..*/
aside{
  float: right;
  width: 30%;
  margin-top: 5%;
}
aside > form {
  display: none;
  width: 300px;
  padding: 30px;
  border-radius: 25px;

}
aside> form>input{
display: block;}
