/*CSS by ShiboTheCoder*/


/*Le Font*/

@font-face {
  font-family: 'Bariol_Regular';
  src: url(./Bariol_Regular.otf);
}

@font-face {
    font-family: 'MarkoOne-Regular';
    src:url(./MarkoOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family:  'PT-Sans-Italic';
    src:url(./PT-Sans-Italic.ttf) format('truetype');
}

/*Le body and le html*/

html, body {
  height: 100%;
}
/*html {
  background: #FFF url(../homepage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
  font-family: Bariol_Regular, sans-serif;
  padding-top: 50px;
  background: none;
	color: #000;
	text-decoration: none;
}
header{
  padding-top: 10%;
    padding-bottom: 10%;
}
section{
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
  cursor: default;
}
footer {
  background-color: rgba(245, 245, 243, 0.6);
  text-align: center;
  height: 30px;
  width: 70%;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
}



/*Did someone say navigation?*/

.navbar {
  position: fixed;
  width: 100%;
  margin-top: -50px;
  z-index: 1000;
  box-shadow: #0FF 0px 0px 20px;
}
a {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
a>span .nav_text{
font-family: Arial !important;}
a.navbar-brand {
  color: #000;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: -5px;
  font-family: inherit;
}
a.navbar-brand:hover, a:hover {
  color: #000;
}
a.navbar-brand > img {
  width: 30px;
  position: relative;
  display: inline;
  margin-top: -5px;
  margin-right: 10px;
  background-color: #FFF;
  border-radius: 20px;
  padding: 3px;
}
